.item-content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
}

.item-data {
  padding-top: 20px;
}

input, .custom-select {
  width: 100%;
}

.custom-select {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
  background: none;
}
